<md-toolbar>
   <div class="md-toolbar-tools" layout-align="center center">
     <h2>
        <h1 class="md-headline">Sachin is the greatest cricketer of all time</h1>
      </h2>
    </div>
</md-toolbar>

<md-content layout-padding>

    <section ui-view>
        
    </section>
</md-content>