/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */

 $color-primary: rgba(63, 81, 181, 0.53);
 $grey: rgba(206, 208, 214, 0.53);
 $green: rgb(0, 167, 100);

.md-button {
	line-height: 20px;
}

.layout-column {
	margin-top: 20px;
}

.graph-card {
	background: $grey;
}

.batting-stats {
	background: $color-primary;
	h2 {
		color: white;
	}
}

.card-icn {
    height: 25px;
    width: 25px;
    padding-top: 18px;
    padding-bottom: 10px;
    margin-right: 10px;
}

.md-headline {
	line-height: 20px;
}

.highlight {
	background: $green;
	color: white;
	.md-subhead {
		color: white;
	}
}
